In [45]:
import numpy as np
import pandas as pd
import os
import os.path as opath
import ast
import json
#from pandas.io.json import json_normalize
import datetime
import pickle
import math

import matplotlib as plt
import seaborn as sb
import plotly 
import plotly.plotly as py
import plotly.presentation_objs as pres
from IPython.core.display import HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
plotly.tools.set_credentials_file(username='saurabhpundir', api_key='evTecysAK8CEVYBe6JUW')

<div class="span5 alert alert-info">
<h2>Note book details</h2>

<p> This notebook is for <b>data story</b> for <b>Mortgage client segmentation</b> project.</p>

<p> Notes.</p>
<ol>
<li>  The file will utlize the pickle file crated in third part of for data wrangling</li> 
<li>  The file will perform exploratory analysis on the mortgage data with some </li> 
<li>  The file will address the question with explanation  during analysis</li> 
<li>  The Questions analyzed are as follows: 
    <ul>
     <li>Question 1 : Loan distribution around united states with number and amount per state</li>
     <li>Question 2 : Loan distribution for gender?</li>
     <li>Question 3 : ?</li>
     <li>Question 4 : ?</li>
     <li>Question 5 : ?</li>
     <li>Question 6 : ?</li>
     <li>Question 7 : ?</li>
     <li>Question 8 : ?</li>
     <li>Question 9 : ?</li>
	 <li>Question 10 : ?</li>
     <li>Question 11 : ?</li>
    </ul>
</li>        
</ol>
</div>

In [2]:
# from IPython.core.display import HTML
css = open('style/style-table.css').read() + open('style/style-notebook.css').read()
cssAnalysis = '.analysis {background:#5bffc0; }'
HTML('<style>{} {}</style>'.format(css,cssAnalysis))
pickle_file='df_selectdata_hmda_cenus.sa'
df_selectdata = pickle.load( open( pickle_file, "rb" ) )
#df_selectdata.info()
#df_selectdata.head()
#plotly.offline.iplot()

In [3]:
df_selectdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25161941 entries, 0 to 25161940
Data columns (total 20 columns):
Year                    int64
PropertyType            category
LoanPurpose             category
Occupancy               category
LoanAmount              float64
ActionType              int64
MSA                     float64
StateCode               float64
CountyCode              float64
ApplicantEthnicity      category
CoApplicantEthnicity    category
ApplicantRace           category
CoApplicantRace         category
ApplicantSex            category
CoApplicantSex          category
ApplicantIncome         float64
PurchaserType           category
StateName               object
CountyName              object
CLASSCODEFIPS           object
dtypes: category(10), float64(5), int64(2), object(3)
memory usage: 2.3+ GB

In [4]:
df_selectdata[df_selectdata.StateName.isnull()]

Empty DataFrame
Columns: [Year, PropertyType, LoanPurpose, Occupancy, LoanAmount, ActionType, MSA, StateCode, CountyCode, ApplicantEthnicity, CoApplicantEthnicity, ApplicantRace, CoApplicantRace, ApplicantSex, CoApplicantSex, ApplicantIncome, PurchaserType, StateName, CountyName, CLASSCODEFIPS]
Index: []

In [48]:
dfgroup=df_selectdata.groupby('StateName', as_index=False)
dfgraph=dfgroup.count().loc[:,['StateName','Year']]
dfgraph['LoanAmount']=dfgroup.sum()['LoanAmount']#.loc[:,['LoanAmount','Year']]
dfgraph['LoanAmount'] =((dfgraph['LoanAmount']/1000000.0)).apply(math.ceil)

In [49]:
#dfgraph['LoanAmount'] =dfgraph['LoanAmount'].apply(math.ceil)
dfgraph.head()#.loc[:,['StateName','Year']]
#dfgraph.set_axis('StateName')# .['StateName']

  StateName     Year  LoanAmount
0        AK    59194          15
1        AL   329052          52
2        AR   208819          30
3        AZ   707714         154
4        CA  3330074        1312

In [50]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

for col in dfgraph.columns:
    dfgraph[col] = dfgraph[col].astype(str)
    
dfgraph['text'] = dfgraph['StateName'] + '<br>' +\
    'LoanAmount '+dfgraph['LoanAmount']+'<br>'+\
    'No of Applicant '+dfgraph['Year']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = dfgraph['StateName'],
        z = dfgraph['LoanAmount'].astype(float),
        locationmode = 'USA-states',
        text = dfgraph['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = 'Loan Application by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-loan' )

In [53]:
from plotly.graph_objs import *
trace1 = {
  "x": [64, 72, 68, 62, 71, 72, 67, 73, 80, 76, 79, 84, 78, 86, 93, 94, 90, 92, 96, 94, 112], 
  "y": ["UCLA", "SoCal", "Emory", "Michigan", "Berkeley", "Brown", "NYU", "Notre Dame", "Cornell", "Tufts", "Yale", "Dartmouth", "Chicago", "Columbia", "Duke", "Georgetown", "Princeton", "U.Penn", "Stanford", "MIT", "Harvard"], 
  "marker": {
    "color": "pink", 
    "size": 12
  }, 
  "mode": "markers", 
  "name": "Women", 
  "type": "scatter", 
  "uid": "cfa542"
}
trace2 = {
  "x": [78, 81, 82, 84, 88, 92, 94, 100, 107, 112, 114, 114, 118, 119, 124, 131, 137, 141, 151, 152, 165], 
  "y": ["UCLA", "SoCal", "Emory", "Michigan", "Berkeley", "Brown", "NYU", "Notre Dame", "Cornell", "Tufts", "Yale", "Dartmouth", "Chicago", "Columbia", "Duke", "Georgetown", "Princeton", "U.Penn", "Stanford", "MIT", "Harvard"], 
  "marker": {
    "color": "blue", 
    "size": 12
  }, 
  "mode": "markers", 
  "name": "Men", 
  "type": "scatter", 
  "uid": "9a3936"
}
data = Data([trace1, trace2])
layout = {
  "autosize": False, 
  "height": 650, 
  "hidesources": True, 
  "hovermode": "closest", 
  "margin": {"l": 100}, 
  "title": "Gender earnings disparity", 
  "width": 650, 
  "xaxis": {
    "autorange": True, 
    "range": [53.5529100529, 173.447089947], 
    "title": "Annual Salary (in thousands)", 
    "type": "linear"
  }, 
  "yaxis": {
    "autorange": True, 
    "range": [-1.51960784314, 21.5196078431], 
    "title": "School", 
    "type": "category"
  }
}
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [108]:
dfgroup=df_selectdata.groupby(['ApplicantSex','StateName'], as_index=False)
dfgraph=dfgroup.count().loc[:,['ApplicantSex','StateName','Year']]
dfgraph=dfgraph[dfgraph['Year'].isna()==False]
dfgraph['Count']=((dfgraph['Year']/1000.0)).apply(math.ceil)
#dfgraph['LoanAmount']=dfgroup.sum()['LoanAmount']#.loc[:,['LoanAmount','Year']]
#dfgraph['LoanAmount'] =((dfgraph['LoanAmount']/1000000.0)).apply(math.ceil)

In [114]:
#dfgraph.head()
#dfgraph.iloc[206]
#dfgraph['Year']/100.0


#dfgraph[dfgraph['Year'].isna()]
#dfgraph.info()#[dfgraph['ApplicantSex']==2]
#dfgraph[dfgraph['ApplicantSex']==2]
#len(dfgraph[dfgraph['ApplicantSex']==2]['Year'])
#len(statelist)
dfgraph.groupby('Count').max()
dfgraph.groupby('Count').min()

      StateName       Year
Count
1            VT      800.0
2            WV     1983.0
3            WY     2734.0
4            VT     3966.0
5            WV     4912.0
6            MS     5731.0
7            OK     6921.0
8            OR     7913.0
9            UT     8864.0
10           WI     9589.0
11           TN    10748.0
12           WY    11940.0
13           MN    12978.0
14           KY    13123.0
15           VT    14940.0
16           SD    15922.0
17           WA    16649.0
18           MO    17549.0
19           WI    18079.0
20           AZ    19940.0
21           PA    20833.0
22           MO    21220.0
23           SC    22970.0
24           CO    23590.0
25           TN    24629.0
26           WV    25940.0
27           VT    26780.0
28           DC    27871.0
29           VA    28990.0
30           PR    29429.0
...         ...        ...
241          PA   240086.0
248          OR   247387.0
254          SC   253728.0
261          IL   260753.0
270          UT   269670.0
286          MD   285781.0
326          WI   325005.0
331          MO   330085.0
344          MN   343251.0
353          TN   352442.0
357          MA   356835.0
358          IN   357746.0
376          NJ   375609.0
455          FL   454152.0
456          AZ   455871.0
457          VA   456732.0
475          GA   474392.0
479          NY   478679.0
486          CO   485676.0
488          WA   487012.0
496          TX   495758.0
498          NC   497068.0
518          OH   517432.0
519          MI   518815.0
550          PA   549486.0
632          IL   631587.0
835          CA   834888.0
973          FL   972875.0
1277         TX  1276996.0
2136         CA  2135961.0

[124 rows x 2 columns]

      StateName       Year
Count
1            AK        4.0
2            ME     1295.0
3            DE     2402.0
4            DC     3071.0
5            AK     4344.0
6            KY     5330.0
7            AL     6018.0
8            AR     7090.0
9            CT     8161.0
10           WI     9589.0
11           KS    10588.0
12           ND    11052.0
13           IA    12149.0
14           AL    13109.0
15           CT    14340.0
16           MI    15407.0
17           AK    16121.0
18           MO    17549.0
19           WI    18079.0
20           AZ    19940.0
21           DC    20354.0
22           HI    21148.0
23           NC    22101.0
24           CO    23590.0
25           RI    24615.0
26           DE    25061.0
27           NJ    26357.0
28           DC    27871.0
29           MN    28664.0
30           PR    29429.0
...         ...        ...
241          PA   240086.0
248          OR   247387.0
254          SC   253728.0
261          IL   260753.0
270          UT   269670.0
286          MD   285781.0
326          WI   325005.0
331          MO   330085.0
344          MN   343251.0
353          TN   352442.0
357          MA   356835.0
358          IN   357746.0
376          NJ   375609.0
455          FL   454152.0
456          AZ   455871.0
457          VA   456732.0
475          GA   474392.0
479          NY   478679.0
486          CO   485676.0
488          WA   487012.0
496          TX   495758.0
498          NC   497068.0
518          OH   517432.0
519          MI   518815.0
550          PA   549486.0
632          IL   631587.0
835          CA   834888.0
973          FL   972875.0
1277         TX  1276996.0
2136         CA  2135961.0

[124 rows x 2 columns]

In [119]:
statelist=dfgraph.StateName.unique()
dffemale=dfgraph[dfgraph['ApplicantSex']==2]['Count']
traceFemale = {
  "x": dffemale, 
  "y": statelist, 
  "marker": {
    "color": "pink", 
    "size": 12
  }, 
  "mode": "markers", 
  "name": "Women", 
  "type": "scatter", 
  "uid": "cfa542"
}
traceMale = {
  "x": dfgraph[dfgraph['ApplicantSex']==1]['Count'], 
  "y": statelist,
  "marker": {
    "color": "blue", 
    "size": 12
  }, 
  "mode": "markers", 
  "name": "Men", 
  "type": "scatter", 
  "uid": "9a3936"
}
'''traceUnknown = {
  "x": dfgraph[dfgraph['ApplicantSex']==3]['Count'], 
  "y": statelist,
  "marker": {
    "color": "grey", 
    "size": 12
  }, 
  "mode": "markers", 
  "name": "Unkown", 
  "type": "scatter", 
  "uid": "9a3937"
}'''
data = Data([traceFemale, traceMale])
layout = {
  "autosize": False, 
  "height": 650, 
  "hidesources": True, 
  "hovermode": "closest", 
  "margin": {"l": 100}, 
  "title": "Gender earnings disparity", 
  "width": 650, 
  "xaxis": {
    "autorange": True, 
    "range": [100, 1000], 
    "title": "Count of loan (in thousand )", 
    "type": "linear"
  }, 
  "yaxis": {
    "autorange": True, 
    "range": [-1.51960784314, 21.5196078431], 
    "title": "State", 
    "type": "category"
  }
}
fig = Figure(data=data, layout=layout)
py.iplot(fig)

'traceUnknown = {\n  "x": dfgraph[dfgraph[\'ApplicantSex\']==3][\'Count\'], \n  "y": statelist,\n  "marker": {\n    "color": "grey", \n    "size": 12\n  }, \n  "mode": "markers", \n  "name": "Unkown", \n  "type": "scatter", \n  "uid": "9a3937"\n}'

In [27]:
def url_to_iframe(url, text=True):
    html = ''
    # style
    html += '''<head>
    <style>
    div.textbox {
        margin: 30px;
        font-weight: bold;   
    }
    </style>
    </head>'
    '''
    # iframe
    html += '<iframe src=' + url + '.embed#{} width=750 height=400 frameBorder="0"></iframe>'
    if text:
        html += '''<body>
        <div class="textbox">
            <p>Click on the presentation above and use left/right arrow keys to flip through the slides.</p>
        </div>
        </body>
        '''
    return html

In [28]:
filename = 'simple-pres'
markdown_string = """
# slide 1
There is only one slide.

---
# slide 2
Again, another slide on this page.

"""

my_pres = pres.Presentation(markdown_string)
pres_url_0 = ' https://plot.ly/~saurabhpundir/0'

In [29]:
import IPython
pres_url_0 = ' https://plot.ly/~saurabhpundir/0'
iframe_0 = url_to_iframe(pres_url_0, True)
IPython.display.HTML(iframe_0)