In [1]:
import numpy as np
import pandas as pd
import os
import os.path as opath
import ast
import pickle


from IPython.core.display import HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<div class="span5 alert alert-info">
<h3>Note book details</h3>

<p> This notebook is part 1 of 2 for data wrangling for <b>Mortgage client segmentation</b> project.</p>

<p> Notes.</p>

<ol>
<li>  The file read the multiple csv files as input for each month </li> 
<li>  The file needs to be run manually for each month as files for following reason 
    <ul>
     <li> The files are available at end of months</li> 
    <li>  Processing each month is time consuming and resource extensive process on local computer </li> 
    </ul>
</li> 
<li>  The files are pickeld and csv to use further in project . This make easier to use data in later stages</li> 
    
</ol>
</div>

In [2]:
pd.set_option('display.max_colwidth', -1)
# from IPython.core.display import HTML
css = open('style/style-table.css').read() + open('style/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
homeloancol= ['Year',
'RespondentID',
'AgencyCode',
'LoanType',
'PropertyType',
'LoanPurpose',
'Occupancy',
'LoanAmount',
'Preapproval',
'ActionType',
'MSA',
'StateCode',
'CountyCode',
'CensusTractNumber',
'ApplicantEthnicity',
'CoApplicantEthnicity',
'ApplicantRace',
'ApplicantRace1',
'ApplicantRace2',
'ApplicantRace3',
'ApplicantRace4',
'CoApplicantRace',
'CoApplicantRace1',
'CoApplicantRace2',
'CoApplicantRace3',
'CoApplicantRace4',
'ApplicantSex',
'CoApplicantSex',
'ApplicantIncome',
'PurchaserType',
'DenialReason1',
'DenialReason2',
'DenialReason3',
'RateSpread',
'HOEPAStatus',
'LienStatus',
'EditStatus',
'SequenceNumber',
'Population',
'MinorityPopulationPercen',
'FFIECMedianFamily',
'TracttoMSA',
'NumberofOwnerOccupied',
'Numberof1_To',
'ApplicationDateIndicator'
]

picklefilename='df_alldata_hmda.sa'

In [5]:
# based on inital data wrangling step the data will be removed for following columns
def removeDatatForNullColumns(df):
    #removed all rows without loan amount
    #df_alldata1=df_alldata[df_alldata['LoanAmount'].isnull()==False]
    df=df.drop(df[df['LoanAmount'].isnull()].index)

    # remove all where no geographic info available
    df=df.drop(df[df['MSA'].isnull() & df['StateCode'].isnull() & df['CountyCode'].isnull()].index)

    # remove all with no ApplicantIncome
    df=df.drop(df[df['ApplicantIncome'].isnull()].index)

    # remove all status 3,4,5 
    #df=df.drop(df[df.ActionType==3].index)
    df=df.drop(df[df.ActionType==4].index)
    df=df.drop(df[df.ActionType==5].index)
    return df

In [6]:
# reading all files in monthly folder
df_alldata =pd.DataFrame()
folderpath='data/hmda/'

for root,_,files in os.walk(folderpath):
    for f in files:
        fullpath=opath.join(root,f)
        df_file=pd.read_csv(fullpath, index_col=False,sep=',',names=homeloancol)
        df_alldata= df_alldata.append(df_file,ignore_index=True)
        df_alldata=removeDatatForNullColumns(df_alldata)
        print('file complete : '+f + ' no of rows : '+ str(len(df_file)) + ' no of columns :'+str(len(df_file.columns)))
#df_alldata.set_index('id').sort_index()
#df_alldata.columns=homeloancol

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file complete : 2015HMDALAR - National.csv no of rows : 14374184 no of columns :45
file complete : 2016HMDALAR - National.csv no of rows : 16332987 no of columns :45
file complete : 2017_public_lar.csv no of rows : 14285496 no of columns :45

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe4 in position 0: invalid continuation byte

### Check colums

In [7]:
df_alldata.head()

,Year,RespondentID,AgencyCode,LoanType,PropertyType,LoanPurpose,Occupancy,LoanAmount,Preapproval,ActionType,...,LienStatus,EditStatus,SequenceNumber,Population,MinorityPopulationPercen,FFIECMedianFamily,TracttoMSA,NumberofOwnerOccupied,Numberof1_To,ApplicationDateIndicator
0,2015,0000001281,3,1,1,3.0,1.0,222.0,3.0,3.0,...,1.0,6,343.0,4831,17.93,89600,117.52,1374,1797,0.0
1,2015,0000001281,3,1,1,3.0,2.0,188.0,3.0,3.0,...,1.0,6,345.0,5364,16.63,89600,111.23,1593,1754,0.0
2,2015,0000001281,3,1,1,3.0,2.0,216.0,3.0,1.0,...,1.0,6,509.0,1988,52.31,89600,58.72,149,327,0.0
3,2015,0000001281,3,1,1,3.0,1.0,219.0,3.0,1.0,...,1.0,6,630.0,3458,17.35,89600,112.09,998,1268,0.0
4,2015,0000001281,3,1,1,3.0,2.0,188.0,3.0,1.0,...,1.0,6,635.0,5364,16.63,89600,111.23,1593,1754,0.0

In [8]:
df_alldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36384615 entries, 0 to 36384614
Data columns (total 45 columns):
Year                        object
RespondentID                object
AgencyCode                  object
LoanType                    object
PropertyType                object
LoanPurpose                 float64
Occupancy                   float64
LoanAmount                  float64
Preapproval                 float64
ActionType                  float64
MSA                         object
StateCode                   float64
CountyCode                  object
CensusTractNumber           object
ApplicantEthnicity          float64
CoApplicantEthnicity        float64
ApplicantRace               float64
ApplicantRace1              object
ApplicantRace2              object
ApplicantRace3              object
ApplicantRace4              object
CoApplicantRace             float64
CoApplicantRace1            object
CoApplicantRace2            object
CoApplicantRace3            object
CoApplicantRace4            object
ApplicantSex                float64
CoApplicantSex              float64
ApplicantIncome             object
PurchaserType               float64
DenialReason1               object
DenialReason2               object
DenialReason3               object
RateSpread                  object
HOEPAStatus                 float64
LienStatus                  float64
EditStatus                  object
SequenceNumber              float64
Population                  object
MinorityPopulationPercen    object
FFIECMedianFamily           object
TracttoMSA                  object
NumberofOwnerOccupied       object
Numberof1_To                object
ApplicationDateIndicator    float64
dtypes: float64(17), object(28)
memory usage: 12.5+ GB

In [9]:
# set up some field as category
for col in ['PropertyType', 'LoanPurpose', 'Occupancy', 'ApplicantEthnicity','CoApplicantEthnicity',
            'ApplicantRace','CoApplicantRace','ApplicantSex','CoApplicantSex','PurchaserType']:
    df_alldata[col] = df_alldata[col].astype('category')

In [10]:
df_alldata=df_alldata.replace('NA   ',np.NaN)
df_alldata=df_alldata.replace('NA  ',np.NaN)
df_alldata=df_alldata.replace('NA ',np.NaN)
df_alldata=df_alldata.replace('NA',np.NaN)

In [11]:
for col in ['MSA','CountyCode','ApplicantIncome']:
    #df_alldata[col]=df_alldata[col].fillna(0, inplace=True)
    df_alldata[col]=pd.to_numeric(df_alldata[col], downcast='integer')

In [12]:
df_alldata=removeDatatForNullColumns(df_alldata)

### Pickle and save the single monthly file for further processing

In [13]:
# get the pickel file name to re confirm the previous files are not overriden.
# Note: Run this file after confimring succesful completion of all above steps
#picklefilename='df_alldata_hmda'
print(picklefilename)
#f1.info()

df_alldata_hmda.sa

In [14]:
# create pickle file for further use 
pickle.dump(df_alldata,open(picklefilename,'wb'), protocol=4)

In [15]:
# check the some other fields if they have siginificant data
#df_alldata[df_alldata[colname].isnotnull()]#
for col in homeloancol:#colnames:
    df_alldata.groupby(col).size()

Year
2015    9999844
2016    11513538
2017    10116644
dtype: int64

RespondentID
854           5
861           1
893           29
1049          3
1060          1
1074          2
1148          19
1199          1
1213          54
1253          8
1309          4
1493          5
1520          1
1644          1
1682          208
1696          399
1701          9
1711          166
1718          1018
1733          240
1785          45
1815          593
1821          13
1830          42
1833          1
1837          3
1843          27
1845          302
1866          2
1870          18
              ..
99-0035093    443
99-0035281    128
99-0050028    4302
99-0057039    4
99-0057378    26
99-0057942    9
99-0058041    10
99-0058081    7
99-0058171    72
99-0058179    17
99-0058236    54
99-0058313    7
99-0058815    1
99-0059010    428
99-0090179    210
99-0090283    94
99-0355821    23
99-0564605    1795
99-0617024    109
99-0700016    35
99-0700962    70
99-0702353    19
99-0703756    55
99-0703835    794
99-0704474    677
99-0705091    396
99-0708196    5
99-0717983    220
99-3571015    124
9900000375    655
Length: 11330, dtype: int64

AgencyCode
1    1423774
2    958466
3    2810069
5    2452731
7    14228992
9    9755994
dtype: int64

LoanType
1    23953286
2    4853706
3    2325292
4    497742
dtype: int64

PropertyType
1    30662265
2    967761
3    0
dtype: int64

LoanPurpose
1.0    15822372
2.0    2624512
3.0    13183142
dtype: int64

Occupancy
1.0    28777183
2.0    2823506
3.0    29337
dtype: int64

LoanAmount
1.0          45597
2.0          57685
3.0          111655
4.0          72747
5.0          170002
6.0          84015
7.0          67676
8.0          85899
9.0          38806
10.0         197977
11.0         30970
12.0         47881
13.0         30477
14.0         26867
15.0         134564
16.0         29024
17.0         25177
18.0         29715
19.0         20812
20.0         124357
21.0         22835
22.0         26433
23.0         24498
24.0         26256
25.0         147071
26.0         27927
27.0         27011
28.0         30499
29.0         24522
30.0         120922
              ...
122000.0     1
128000.0     1
136800.0     1
139000.0     1
140000.0     2
145000.0     1
152000.0     1
169000.0     1
192000.0     1
200000.0     1
221000.0     1
233000.0     2
235000.0     1
241000.0     1
244000.0     1
248000.0     1
255000.0     1
274000.0     1
280000.0     1
302000.0     1
309000.0     1
311000.0     1
320000.0     2
340000.0     1
344000.0     1
350000.0     1
365000.0     1
380000.0     1
475000.0     3
1485000.0    1
Length: 5210, dtype: int64

Preapproval
1.0    878348
2.0    4491198
3.0    26260480
dtype: int64

ActionType
1.0    21287511
2.0    1125929
3.0    6450624
6.0    2762256
7.0    1952
8.0    1754
dtype: int64

MSA
10140.0    7
10180.0    14104
10260.0    1
10300.0    2
10380.0    8677
10420.0    63407
10500.0    9958
10540.0    13298
10580.0    68414
10660.0    2
10740.0    87910
10760.0    1
10780.0    12092
10860.0    26
10900.0    73773
10940.0    4
10980.0    1
11020.0    9552
11060.0    1
11100.0    23406
11180.0    8367
11220.0    1
11244.0    349115
11260.0    46867
11380.0    1
11420.0    1
11460.0    39629
11500.0    9249
11540.0    28757
11620.0    3
          ..
48140.0    14590
48180.0    1
48220.0    1
48260.0    8115
48300.0    12956
48424.0    144945
48540.0    8762
48580.0    3
48620.0    60119
48660.0    10039
48700.0    8099
48820.0    2
48864.0    68928
48900.0    37418
48940.0    1
48980.0    2
49020.0    15627
49080.0    1
49100.0    2
49180.0    55231
49220.0    5
49340.0    93903
49380.0    1
49420.0    19404
49460.0    1
49620.0    43359
49660.0    39980
49700.0    17980
49740.0    15960
49780.0    1
Length: 664, dtype: int64

StateCode
1.0     451035
2.0     70386
4.0     865708
5.0     274153
6.0     4118619
8.0     915244
9.0     294152
10.0    106285
11.0    75012
12.0    2093816
13.0    1039282
15.0    110297
16.0    215812
17.0    1188385
18.0    666543
19.0    319715
20.0    250948
21.0    381772
22.0    385835
23.0    132033
24.0    645509
25.0    697057
26.0    1005385
27.0    635254
28.0    221301
29.0    606505
30.0    102390
31.0    181341
32.0    361064
33.0    145757
34.0    750597
35.0    171524
36.0    1021797
37.0    1010855
38.0    64323
39.0    1026508
40.0    342654
41.0    482245
42.0    1094065
44.0    99016
45.0    525696
46.0    76898
47.0    687423
48.0    2497208
49.0    435604
50.0    55916
51.0    924466
53.0    908111
54.0    131361
55.0    584047
56.0    59426
72.0    123668
78.0    23
dtype: int64

CountyCode
1.0      820202
3.0      987462
5.0      656715
6.0      915
7.0      305587
9.0      422050
10.0     20
11.0     507784
12.0     951
13.0     1100681
14.0     11915
15.0     340255
16.0     99
17.0     549264
19.0     514552
20.0     32537
21.0     414925
23.0     225129
25.0     394603
27.0     387087
28.0     2015
29.0     565939
31.0     1027359
33.0     538837
35.0     543298
36.0     625
37.0     1136321
39.0     233092
41.0     327427
43.0     269778
          ...
595.0    220
600.0    3113
610.0    1612
620.0    546
630.0    2234
640.0    384
650.0    12657
660.0    2461
670.0    1950
678.0    328
680.0    5189
683.0    5090
685.0    2005
690.0    597
700.0    13639
710.0    19835
720.0    206
730.0    1896
735.0    1365
740.0    9956
750.0    872
760.0    18461
770.0    7887
775.0    2208
790.0    2123
800.0    11517
810.0    54677
820.0    1981
830.0    850
840.0    2058
Length: 327, dtype: int64

CensusTractNumber
1.0        46855
1.01       15971
1.02       18983
1.03       7291
1.04       4153
1.05       2282
1.06       2588
1.07       1507
1.08       2193
1.09       2079
1.1        1426
1.11       1167
1.12       849
1.13       1805
1.14       398
1.15       1459
1.16       2152
1.17       1000
1.18       719
1.19       390
1.2        1380
1.21       618
1.22       747
1.23       693
1.24       207
1.25       447
1.26       316
1.27       587
1.28       495
1.29       360
          ...
9800.05    7
9801.00    62
9801.01    1
9801.02    1
9801.03    1
9801.08    1
9802.00    8
9803.00    4
9804.00    2
9805.01    2
9807.00    1
9807.05    1
9808.00    4
9811.00    1
9813.00    1
9818.00    22
9819.00    1
9819.01    2
9819.02    1
9822.00    2
9834.00    2
9840.00    2
9883.00    11
9887.00    7
9891.00    5
9900.00    8
9901.00    20
9902.00    1
9926.00    2
NA         80513
Length: 40086, dtype: int64

ApplicantEthnicity
1.0    3036611
2.0    24520730
3.0    3292397
4.0    780288
dtype: int64

CoApplicantEthnicity
1.0    1226196
2.0    11083743
3.0    1660896
4.0    637912
5.0    17021279
dtype: int64

ApplicantRace
1.0    232400
2.0    1735067
3.0    2084446
4.0    134288
5.0    23219386
6.0    3455664
7.0    768775
dtype: int64

ApplicantRace1
1.0    2386
2.0    3425
3.0    7245
4.0    5229
5.0    46651
       21399686
1      4231
2      5968
3      12099
4      8999
5      82399
dtype: int64

ApplicantRace2
1.0    201
2.0    99
3.0    912
4.0    410
5.0    3171
       21506460
1      297
2      195
3      1173
4      438
5      4819
dtype: int64

ApplicantRace3
1.0    21
2.0    48
3.0    15
4.0    619
5.0    323
       21512107
1      28
2      63
3      56
4      715
5      413
dtype: int64

ApplicantRace4
1.0    37
2.0    12
3.0    7
4.0    5
5.0    597
       21512534
1      45
2      44
3      16
4      25
5      718
dtype: int64

CoApplicantRace
1.0    80484
2.0    801977
3.0    516732
4.0    70807
5.0    10795624
6.0    1709649
7.0    633475
8.0    17021278
dtype: int64

CoApplicantRace1
1.0    692
2.0    1445
3.0    1705
4.0    2229
5.0    16502
       21473138
1      1364
2      2492
3      3002
4      3998
5      29388
dtype: int64

CoApplicantRace2
1.0    50
2.0    44
3.0    276
4.0    243
5.0    920
       21511368
1      95
2      58
3      324
4      125
5      1412
dtype: int64

CoApplicantRace3
1.0    9
2.0    16
3.0    1
4.0    201
5.0    215
       21513035
1      8
2      15
3      19
4      201
5      104
dtype: int64

CoApplicantRace4
1.0    14
2.0    2
3.0    4
4.0    1
5.0    195
       21513120
1      23
2      23
3      3
4      3
5      210
dtype: int64

ApplicantSex
1.0    19915174
2.0    8879076
3.0    2066799
4.0    768977
dtype: int64

CoApplicantSex
1.0    2695861
2.0    10220504
3.0    1059001
4.0    633380
5.0    17021280
dtype: int64

ApplicantIncome
1.0         42685
2.0         6403
3.0         6426
4.0         7299
5.0         8711
6.0         10914
7.0         9916
8.0         12370
9.0         19773
10.0        23870
11.0        29020
12.0        54151
13.0        35405
14.0        46266
15.0        45992
16.0        55124
17.0        63706
18.0        77148
19.0        82731
20.0        92168
21.0        97544
22.0        108811
23.0        119089
24.0        154156
25.0        152721
26.0        152897
27.0        155759
28.0        165294
29.0        192480
30.0        222955
             ...
94786.0     1
95000.0     1
97000.0     1
97824.0     1
98544.0     1
99000.0     1
100000.0    1
101000.0    1
102000.0    1
104000.0    2
106000.0    1
107000.0    1
108000.0    1
114000.0    1
115000.0    1
120000.0    1
122000.0    1
123000.0    1
124000.0    1
133549.0    1
141700.0    1
146000.0    1
147417.0    1
150000.0    2
162000.0    1
175000.0    1
180000.0    1
268000.0    1
291000.0    1
360000.0    3
Length: 6710, dtype: int64

PurchaserType
0.0    13602150
1.0    5344589
2.0    3067351
3.0    3519577
4.0    2849
5.0    129970
6.0    2217344
7.0    2218140
8.0    314801
9.0    1213255
dtype: int64

DenialReason1
1.0    335402
2.0    17364
3.0    335906
4.0    213587
5.0    31676
6.0    44589
7.0    163868
8.0    855
9.0    103949
       18798338
1      697199
2      38236
3      745053
4      494823
5      70207
6      105481
7      327237
8      2522
9      234286
dtype: int64

DenialReason2
1.0    49112
2.0    9291
3.0    74587
4.0    21781
5.0    25916
6.0    18083
7.0    12958
8.0    848
9.0    40980
       20939941
1      114333
2      21408
3      148892
4      56813
5      59792
6      46327
7      29380
8      2991
9      93505
dtype: int64

DenialReason3
1.0    4359
2.0    958
3.0    5268
4.0    3250
5.0    6349
6.0    3765
7.0    2145
8.0    351
9.0    9653
       21411899
1      12975
2      2832
3      15805
4      10773
5      14801
6      8743
7      5614
8      901
9      29039
dtype: int64

RateSpread
1.5      10055
1.51     8096
1.52     7788
1.53     7802
1.54     7508
1.55     7572
1.56     7584
1.57     7233
1.58     6936
1.59     6901
1.6      6790
1.61     6755
1.62     6594
1.63     6486
1.64     6497
1.65     6302
1.66     6296
1.67     6009
1.68     6112
1.69     5877
1.7      5822
1.71     5632
1.72     5316
1.73     5471
1.74     5358
1.75     5389
1.76     5234
1.77     5062
1.78     4841
1.79     4829
         ...
17.79    1
17.81    1
18.04    1
18.49    1
18.67    1
18.97    1
19.27    1
19.90    1
20.62    1
20.96    1
21.53    1
21.84    1
24.28    1
27.65    1
28.64    1
28.91    1
28.94    1
29.43    1
30.07    1
32.32    1
32.83    1
37.29    1
39.24    1
42.02    1
52.30    1
58.35    1
68.13    1
79.13    1
96.10    1
99.99    9
Length: 2103, dtype: int64

HOEPAStatus
1.0    6625
2.0    31623401
dtype: int64

LienStatus
1.0    26808210
2.0    925891
3.0    1133669
4.0    2762256
dtype: int64

EditStatus
     19259971
6    2253411
dtype: int64

SequenceNumber
1.0          9524
2.0          9628
3.0          9673
4.0          9750
5.0          9681
6.0          9687
7.0          9648
8.0          9659
9.0          9596
10.0         9590
11.0         9562
12.0         9535
13.0         9458
14.0         9376
15.0         9419
16.0         9296
17.0         9272
18.0         9229
19.0         9284
20.0         9209
21.0         9153
22.0         9214
23.0         9169
24.0         9131
25.0         9072
26.0         9048
27.0         9001
28.0         8983
29.0         8884
30.0         8809
             ...
1240923.0    1
1240929.0    1
1240934.0    1
1240938.0    1
1240943.0    1
1240945.0    1
1240951.0    1
1240960.0    1
1240963.0    1
1240965.0    1
1240986.0    1
1240993.0    1
1240998.0    1
1241001.0    1
1241012.0    1
1241015.0    1
1241016.0    1
1241034.0    1
1241042.0    1
1241054.0    1
1241056.0    1
1241061.0    1
1241066.0    1
1241068.0    1
1241122.0    1
1241621.0    1
1241659.0    1
1241693.0    1
1241763.0    1
1241764.0    1
Length: 1232662, dtype: int64

Population
0.0         176
1           4
2           6
3.0         5
4           22
5           9
6           7
7           14
8           24
9           7
10.0        3
11          4
12.0        1
13          7
14          8
15          5
16          7
18          4
20          12
21          3
22          2
24          7
25          5
26.0        1
27          4
30          8
31          1
33          9
34.0        4
36          1
           ..
00018616    253
00018793    1195
00018904    61
00018941    2117
00019204    2295
00019450    2272
00019523    1118
00020107    2072
00020164    1347
00020181    270
00020235    766
00020422    4097
00020655    1060
00020842    1091
00021098    87
00021591    1664
00021763    2640
00022065    175
00022862    53
00023101    332
00023686    4234
00025039    950
00025252    607
00026230    581
00026588    106
00026843    731
00028537    1299
00029677    436
00033201    1508
NA          81933
Length: 19253, dtype: int64

MinorityPopulationPercen
0.0       4464
0.02      103
0.03      83
0.05      72
0.06      95
0.11      232
0.12      177
0.13      261
0.14      184
0.15      222
0.16      528
0.17      155
0.18      380
0.19      45
0.2       213
0.21      326
0.22      368
0.23      35
0.24      88
0.25      388
0.26      435
0.27      138
0.28      158
0.29      224
0.3       616
0.31      70
0.32      370
0.33      314
0.34      682
0.35      457
         ...
099.69    868
099.70    1628
099.71    1457
099.72    298
099.73    808
099.74    445
099.75    1102
099.76    639
099.77    488
099.78    306
099.79    424
099.80    184
099.81    448
099.82    456
099.83    524
099.84    238
099.85    444
099.86    106
099.87    87
099.88    112
099.89    72
099.90    13
099.91    42
099.92    53
099.93    118
099.94    69
099.95    22
099.96    10
100.00    114
NA        81980
Length: 19656, dtype: int64

FFIECMedianFamily
15800.0     1182
18000.0     740
18400.0     1265
18800.0     2270
20500.0     2810
20700.0     1557
23600.0     633
25900.0     24413
27000       11217
37900.0     5835
38200       6027
40300.0     11086
41800       12477
42200.0     2814
42800.0     4020
43200       2663
43300       2579
43400       2290
43900       1535
44000       10363
44500       11210
44600       8502
44700       12702
45000.0     7886
45200       16705
45300.0     20046
45600.0     32966
45700.0     26442
45800       3930
45900.0     19928
            ...
00085600    2386
00085700    64152
00085900    585
00086700    2628
00086800    6743
00086900    1139
00087000    5162
00087100    25
00087300    6154
00087800    5555
00087900    9564
00089200    670
00089300    5813
00089600    21969
00089700    7251
00090000    819
00090300    2015
00091000    5913
00091600    4354
00093000    4035
00093800    2933
00094800    4119
00097000    3672
00099400    3626
00104400    7511
00105700    67285
00107500    4400
00109400    72072
00115000    2000
NA          80513
Length: 784, dtype: int64

TracttoMSA
0.0       9884
3.71      3
6.32      3
6.35      64
6.63      3
6.87      35
7.72      5
7.84      1
8.23      3
8.68      8
8.88      8
9.56      1
9.6       5
9.75      15
9.94      2
10.02     1
10.04     6
10.26     2
10.31     64
10.44     2
10.48     7
10.86     4
10.9      23
10.91     5
11.18     2
11.36     10
11.42     3
11.56     7
11.65     8
11.7      13
          ..
364.11    128
364.66    64
365.12    376
366.38    168
367.61    3700
371.06    477
372.10    137
372.16    1106
374.27    212
375.83    162
376.22    197
376.43    265
377.16    161
377.55    255
381.32    280
384.65    4
386.22    160
387.84    132
387.92    130
388.15    52
391.25    590
394.69    365
397.45    103
399.23    15
403.39    502
405.70    1462
425.35    6
475.44    194
499.35    42
NA        84198
Length: 36509, dtype: int64

NumberofOwnerOccupied
0.0         1056
2.0         5
3           18
4           265
5           64
6           95
7           98
8           243
9           164
10          180
11          74
12          104
13          66
14          88
15          102
16          174
17          121
18          274
19          65
20          85
21          35
22          130
23          148
24          226
25          160
26          142
27          53
28          613
29          343
30          85
            ..
00004781    4234
00004792    17
00004820    851
00004867    1292
00004911    2272
00004920    2883
00004977    344
00005087    1083
00005092    567
00005137    1246
00005149    2295
00005176    1983
00005474    2072
00005590    4008
00005627    1962
00005792    2707
00005826    2168
00005877    3994
00005978    7284
00006018    4097
00006083    1553
00006133    42
00006293    950
00006454    109
00006675    7458
00006717    2944
00006856    3660
00006886    21
00008526    3529
NA          85119
Length: 6819, dtype: int64

Numberof1_To
0.0         753
3           4
4.0         19
5.0         72
6           253
7           58
8           65
9           265
10          295
11          754
12          354
13          452
14          152
15          66
16          302
17          512
18          163
19          446
20          237
21          421
22          195
23          970
24          318
25          449
26          461
27          1195
28          283
29          400
30          216
31          400
           ...
00006103    2272
00006142    1060
00006239    1
00006254    1246
00006263    125
00006272    3223
00006298    88
00006345    356
00006362    683
00006393    960
00006428    495
00006517    1091
00006522    1118
00006576    380
00006587    259
00006605    111
00006667    4097
00006862    4931
00006872    2072
00006908    680
00007066    2391
00007116    1529
00007204    1018
00007504    617
00007587    4940
00007673    681
00007921    2173
00007964    950
00011336    2354
NA          84384
Length: 8608, dtype: int64

ApplicationDateIndicator
0.0    19700000
1.0    23
2.0    1813359
dtype: int64

# rename some columns
_=df_alldata.rename(columns={'AsofYear': 'Year', 'MSA/MD': 'MSA',
                                'ApplicantIncome(000s)':'ApplicantIncome','MinorityPopulation%':'MinorityPopulationPercent',
                                'TracttoMSA/MD':'TracttoMSA','ApplicantRace1':'ApplicantRace'}, inplace=True)

In [16]:
#Extract minimum columns
homeloancolreq= ['Year',
'PropertyType',
'LoanPurpose',
'Occupancy',
'LoanAmount',
'ActionType',
'MSA',
'StateCode',
'CountyCode',
'ApplicantEthnicity',
'CoApplicantEthnicity',
'ApplicantRace',
'CoApplicantRace',
'ApplicantSex',
'CoApplicantSex',
'ApplicantIncome',
'PurchaserType',
]
df_selecteddata=df_alldata.loc[:,homeloancolreq]

# set up some field as category
'''df_selecteddata.PropertyType=df_selecteddata.PropertyType.astype('category')
_=df_selecteddata.LoanPurpose.astype('category')
_=df_selecteddata.Occupancy.astype('category')
_=df_selecteddata.ApplicantEthnicity.astype('category')
_=df_selecteddata.CoApplicantEthnicity.astype('category')
_=df_selecteddata.ApplicantRace1.astype('category')
_=df_selecteddata.CoApplicantRace.astype('category')
_=df_selecteddata.ApplicantSex.astype('category')
_=df_selecteddata.CoApplicantSex.astype('category')
_=df_selecteddata.PurchaserType.astype('category')'''
for col in ['PropertyType', 'LoanPurpose', 'Occupancy', 'ApplicantEthnicity','CoApplicantEthnicity',
            'ApplicantRace1','CoApplicantRace','ApplicantSex','CoApplicantSex','PurchaserType']:
    df_selecteddata[col] = df_selecteddata[col].astype('category')


#_=df_selecteddata.MSA.fillna(0)
#_=df_selecteddata.MSA.astype('int64')
#_=df_selecteddata.CountyCode.fillna(0)
#_=df_selecteddata.CountyCode.astype('int64')
#_=df_selecteddata.ApplicantIncome.astype('int64')

df_selecteddata=df_selecteddata.replace('NA   ',np.NaN)
df_selecteddata=df_selecteddata.replace('NA  ',np.NaN)
df_selecteddata=df_selecteddata.replace('NA ',np.NaN)
df_selecteddata=df_selecteddata.replace('NA',np.NaN)


None
for col in ['MSA','CountyCode','ApplicantIncome']:
    #df_alldata[df_alldata[colname].isnull()][colname]
    #df_selecteddata[df_selecteddata[col]=='NA   '][col]=np.NaN
    df_selecteddata[col]=df_selecteddata[col].fillna(0, inplace=True)
    df_selecteddata[col]=pd.to_numeric(df_selecteddata[col], downcast='float')#df_selecteddata[col].astype(int)
    
    #df_alldata[df_alldata[colname].isnull()][colname]
    #df_selecteddata[df_selecteddata[col]=='NA   ']
    
    #_=df_alldata['MSA'].fillna(0, inplace=True)
    #_=df_selecteddata.MSA.astype('int64')
    #_=df_selecteddata.MSA.fillna(0)
    #_=df_selecteddata.MSA.astype('int64')
    #_=df_selecteddata.CountyCode.fillna(0)
    #_=df_selecteddata.CountyCode.astype('int64')
    #_=df_selecteddata.ApplicantIncome.astype('int64')

In [17]:
#df_selecteddata.info()
picklefilename='df_selectdata_hmda.sa'

In [18]:
df_selecteddata.head()

,Year,PropertyType,LoanPurpose,Occupancy,LoanAmount,ActionType,MSA,StateCode,CountyCode,ApplicantEthnicity,CoApplicantEthnicity,ApplicantRace,CoApplicantRace,ApplicantSex,CoApplicantSex,ApplicantIncome,PurchaserType
0,2015,1,3.0,1.0,222.0,3.0,11260.0,2.0,170.0,2.0,5.0,5.0,8.0,1.0,5.0,115.0,0.0
1,2015,1,3.0,2.0,188.0,3.0,11260.0,2.0,170.0,2.0,5.0,5.0,8.0,1.0,5.0,115.0,0.0
2,2015,1,3.0,2.0,216.0,1.0,11260.0,2.0,20.0,2.0,5.0,5.0,8.0,1.0,5.0,230.0,7.0
3,2015,1,3.0,1.0,219.0,1.0,11260.0,2.0,170.0,2.0,5.0,5.0,8.0,1.0,5.0,145.0,1.0
4,2015,1,3.0,2.0,188.0,1.0,11260.0,2.0,170.0,2.0,5.0,5.0,8.0,1.0,5.0,145.0,1.0

### Pickle and save the single monthly file for further processing

In [19]:
# get the pickel file name to re confirm the previous files are not overriden.
# Note: Run this file after confimring succesful completion of all above steps
print(picklefilename)
#f1.info()

df_selectdata_hmda.sa

In [20]:
# create pickle file for further use 
pickle.dump(df_selecteddata,open(picklefilename,'wb'), protocol=4)

In [20]:
# check pickle file
upickle_df = pickle.load(open(picklefilename,"rb"))

In [21]:
upickle_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25179402 entries, 0 to 35398216
Data columns (total 17 columns):
Year                    int64
PropertyType            category
LoanPurpose             category
Occupancy               category
LoanAmount              float64
ActionType              int64
MSA                     float64
StateCode               float64
CountyCode              float64
ApplicantEthnicity      category
CoApplicantEthnicity    category
ApplicantRace           category
CoApplicantRace         category
ApplicantSex            category
CoApplicantSex          category
ApplicantIncome         float64
PurchaserType           category
dtypes: category(10), float64(5), int64(2)
memory usage: 1.7 GB

In [22]:
df_newdata=upickle_df

In [23]:
df_newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25179402 entries, 0 to 35398216
Data columns (total 17 columns):
Year                    int64
PropertyType            category
LoanPurpose             category
Occupancy               category
LoanAmount              float64
ActionType              int64
MSA                     float64
StateCode               float64
CountyCode              float64
ApplicantEthnicity      category
CoApplicantEthnicity    category
ApplicantRace           category
CoApplicantRace         category
ApplicantSex            category
CoApplicantSex          category
ApplicantIncome         float64
PurchaserType           category
dtypes: category(10), float64(5), int64(2)
memory usage: 1.7 GB

In [24]:
def checkforNullCol(colname,df):
    return df[df[colname].isnull()]#[colname,homeloancol]

In [25]:
def checkforNanCol(colname,df):
    return df[np.isnan(df[colname])]

In [29]:
t=df_newdata.columns

In [30]:
for col in t:
    
    df=checkforNullCol(col,df_newdata)
    if (len(df)>0):
        print(col + ' Null len :'+str(len(df)) )
    #df1=checkforNanCol(col)
    #if (len(df1)>0):
        #print(col + ' Nan len :'+str(len(df1)) )

MSA Null len :2552710
CountyCode Null len :17446

In [31]:
df_newdata.groupby('ActionType').size()

ActionType
1    21287511
2    1125929
6    2762256
7    1952
8    1754
dtype: int64

In [32]:
print(len(df_selecteddata))
print(len(df_alldata))

25179402
25179402