In [1]:
import numpy as np
import pandas as pd
import os
import os.path as opath
import datetime
import pickle

from IPython.core.display import HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<div class="span5 alert alert-info">
<h3>Note book details</h3>

<p> This notebook is part 1 of 2 for data wrangling for <b>Mortgage client segmentation</b> project.</p>

<p> Notes.</p>

<ol>
<li>  The file read the multiple csv files as input for each month </li> 
<li>  The file needs to be run manually for each month as files for following reason 
    <ul>
     <li> The files are available at end of months</li> 
    <li>  Processing each month is time consuming and resource extensive process on local computer </li> 
    </ul>
</li> 
<li>  The files are pickeld and csv to use further in project . This make easier to use data in later stages</li> 
    
</ol>
</div>

In [2]:
pd.set_option('display.max_colwidth', -1)
# from IPython.core.display import HTML
css = open('style/style-table.css').read() + open('style/style-notebook.css').read()
cssAnalysis = '.analysis {background:#5bffc0; }'
HTML('<style>{} {}</style>'.format(css,cssAnalysis))
pickle_file='df_selectdata_hmda.sa'
df_selectdata = pickle.load( open( pickle_file, "rb" ) )

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'pandas.core' is private. Use 'pandas.Categorical'
  import sys

In [6]:
county_data='data/county_csv.csv'

df_county=pd.read_csv(county_data, index_col=False,sep=',')

In [57]:
for col in ['StateCode','CountyCode']:
    #df_alldata[col]=df_alldata[col].fillna(0, inplace=True)
    df_county[col]=    df_county[col].astype(np.float64)#pd.to_numeric(df_county[col], upcast='float64')

In [58]:
df_county.info()
#df_selectdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3235 entries, 0 to 3234
Data columns (total 5 columns):
StateName        3235 non-null object
StateCode        3235 non-null float64
CountyCode       3235 non-null float64
CountyName       3235 non-null object
CLASSCODEFIPS    3235 non-null object
dtypes: float64(2), object(3)
memory usage: 126.4+ KB

In [70]:
df_county[(df_county.CountyCode==1) & (df_county.StateCode==4)]

   StateName  StateCode  CountyCode     CountyName CLASSCODEFIPS
96  AZ        4.0        1.0         Apache County  H1

In [76]:
#df_selectdata1=df_selectdata.merge(df_county,on='StateCode')
#df_selectdata[df_selectdata.MSA.isnull()]
#df_selectdata[df_selectdata.MSA.isna()]
#df_selectdata.info()
#df_selectdata.join(df_county,on='StateCode', how='left',rsuffix='cenus_')
#df_selectdata1=df_selectdata.merge(df_county,on=('StateCode','CountyCode'), how='left')
df_selectdata1=df_selectdata.merge(df_county,on=('StateCode','CountyCode'))
#df_selectdata1=df_county.merge(df_selectdata,on=('StateCode','CountyCode'))

In [77]:
df_selectdata1#.loc[:,['year','MSA','StateCode','CountyCode','CountyCode_cenus','StateName','StateCode_cenus','CountyName']].head()

,Year,PropertyType,LoanPurpose,Occupancy,LoanAmount,ActionType,MSA,StateCode,CountyCode,ApplicantEthnicity,CoApplicantEthnicity,ApplicantRace,CoApplicantRace,ApplicantSex,CoApplicantSex,ApplicantIncome,PurchaserType,StateName,CountyName,CLASSCODEFIPS
0,2015,1,3,2,216.0,1,11260.0,2.0,20.0,2,5,5,8,1,5,230.0,7,AK,Anchorage Municipality,H6
1,2015,1,2,1,533.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,134.0,7,AK,Anchorage Municipality,H6
2,2015,1,3,2,203.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,136.0,7,AK,Anchorage Municipality,H6
3,2015,1,2,1,275.0,1,11260.0,2.0,20.0,3,5,6,8,3,5,139.0,7,AK,Anchorage Municipality,H6
4,2015,1,1,1,410.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,112.0,7,AK,Anchorage Municipality,H6
5,2015,1,3,1,216.0,2,11260.0,2.0,20.0,2,2,5,5,1,2,105.0,0,AK,Anchorage Municipality,H6
6,2015,1,2,1,20.0,1,11260.0,2.0,20.0,2,2,1,1,1,2,175.0,0,AK,Anchorage Municipality,H6
7,2015,1,3,1,85.0,1,11260.0,2.0,20.0,3,3,1,1,1,2,204.0,0,AK,Anchorage Municipality,H6
8,2015,1,3,1,223.0,1,11260.0,2.0,20.0,3,5,6,8,1,5,136.0,1,AK,Anchorage Municipality,H6
9,2015,1,3,1,301.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,72.0,1,AK,Anchorage Municipality,H6
10,2015,1,3,1,589.0,2,11260.0,2.0,20.0,3,3,6,6,1,2,240.0,0,AK,Anchorage Municipality,H6
11,2015,1,3,1,293.0,1,11260.0,2.0,20.0,2,5,5,8,1,5,109.0,1,AK,Anchorage Municipality,H6
12,2015,1,3,1,150.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,218.0,1,AK,Anchorage Municipality,H6
13,2015,1,1,1,355.0,1,11260.0,2.0,20.0,2,5,5,8,1,5,122.0,7,AK,Anchorage Municipality,H6
14,2015,1,1,1,800.0,1,11260.0,2.0,20.0,1,5,5,8,2,5,300.0,7,AK,Anchorage Municipality,H6
15,2015,1,1,1,268.0,1,11260.0,2.0,20.0,3,5,6,8,3,5,118.0,1,AK,Anchorage Municipality,H6
16,2015,1,3,1,135.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,136.0,7,AK,Anchorage Municipality,H6
17,2015,1,3,1,552.0,1,11260.0,2.0,20.0,3,5,6,8,3,5,210.0,1,AK,Anchorage Municipality,H6
18,2015,1,3,2,233.0,1,11260.0,2.0,20.0,3,5,6,8,1,5,199.0,1,AK,Anchorage Municipality,H6
19,2015,1,3,1,292.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,160.0,1,AK,Anchorage Municipality,H6
20,2015,1,3,1,156.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,193.0,1,AK,Anchorage Municipality,H6
21,2015,1,3,1,308.0,1,11260.0,2.0,20.0,3,3,6,6,3,3,211.0,1,AK,Anchorage Municipality,H6
22,2015,1,3,1,210.0,1,11260.0,2.0,20.0,2,2,5,5,1,1,205.0,1,AK,Anchorage Municipality,H6
23,2015,1,1,2,263.0,1,11260.0,2.0,20.0,1,5,5,8,1,5,141.0,7,AK,Anchorage Municipality,H6
24,2015,1,3,1,143.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,53.0,1,AK,Anchorage Municipality,H6
25,2015,1,3,1,119.0,1,11260.0,2.0,20.0,3,5,6,8,2,5,33.0,1,AK,Anchorage Municipality,H6
26,2015,1,3,1,463.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,206.0,7,AK,Anchorage Municipality,H6
27,2015,1,1,1,380.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,202.0,3,AK,Anchorage Municipality,H6
28,2015,1,1,1,237.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,133.0,3,AK,Anchorage Municipality,H6
29,2015,1,1,1,417.0,1,11260.0,2.0,20.0,3,3,6,6,3,3,321.0,0,AK,Anchorage Municipality,H6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161911,2017,1,3,1,50.0,1,NaN,51.0,580.0,2,2,5,5,1,2,52.0,0,VA,Covington city,C7
25161912,2016,2,3,1,225.0,1,NaN,31.0,5.0,2,2,5,5,1,2,53.0,0,NE,Arthur County,H1
25161913,2016,1,2,1,96.0,1,NaN,31.0,5.0,2,2,5,5,1,2,119.0,0,NE,Arthur County,H1
25161914,2016,1,3,1,107.0,1,NaN,31.0,5.0,2,2,5,5,1,2,164.0,0,NE,Arthur County,H1
25161915,2016,1,1,1,283.0,1,NaN,31.0,5.0,2,2,5,5,1,2,83.0,2,NE,Arthur County,H1
25161916,2017,1,3,1,162.0,1,NaN,31.0,5.0,2,5,5,8,1,5,162.0,0,NE,Arthur County,H1
25161917,2017,1,3,1,1758.0,1,NaN,31.0,5.0,2,2,5,5,1,2,245.0,0,NE,Arthur County,H1
25161918,2017,1,3,1,57.0,1,NaN,31.0,5.0,3,3,6,6,3,3,68.0,0,NE,Arthur County,H1
25161919,2017,1,2,1,125.0,1,NaN,31.0,5.0,2,2,5,5,1,2,119.0,0,NE,Arthur County,H1
25161920,2017,1,1,1,45.0,1,NaN,31.0,5.0,2,5,5,8,1,5,44.0,0,NE,Arthur County,H1
25161921,2017,1,1,1,168.0,1,NaN,78.0,10.0,3,3,6,6,1,2,99.0,1,VI,St. Croix Island,H4
25161922,2017,1,1,1,110.0,1,NaN,78.0,10.0,2,5,3,8,1,5,51.0,1,VI,St. Croix Island,H4
25161923,2017,1,1,1,320.0,1,NaN,78.0,10.0,2,5,5,8,1,5,145.0,1,VI,St. Croix Island,H4
25161924,2017,1,1,1,123.0,1,NaN,78.0,10.0,2,5,5,8,2,5,51.0,1,VI,St. Croix Island,H4
25161925,2017,1,1,2,653.0,1,NaN,78.0,10.0,3,3,6,6,1,2,197.0,1,VI,St. Croix Island,H4
25161926,2017,1,3,1,289.0,1,NaN,78.0,10.0,2,2,5,5,1,2,70.0,1,VI,St. Croix Island,H4
25161927,2017,1,1,2,100.0,1,NaN,78.0,10.0,3,3,6,6,1,2,168.0,1,VI,St. Croix Island,H4
25161928,2017,1,1,2,116.0,1,NaN,78.0,10.0,2,2,5,5,1,2,99.0,1,VI,St. Croix Island,H4
25161929,2017,1,3,1,212.0,1,NaN,78.0,10.0,2,5,3,8,1,5,54.0,1,VI,St. Croix Island,H4
25161930,2017,1,1,2,159.0,1,NaN,78.0,10.0,2,2,5,5,1,2,264.0,1,VI,St. Croix Island,H4
25161931,2017,1,1,1,620.0,1,NaN,78.0,10.0,2,2,6,6,1,2,128.0,1,VI,St. Croix Island,H4
25161932,2017,1,1,2,188.0,1,NaN,78.0,10.0,2,2,5,5,2,1,117.0,1,VI,St. Croix Island,H4
25161933,2017,1,1,2,116.0,1,NaN,78.0,10.0,3,3,6,6,1,2,75.0,1,VI,St. Croix Island,H4
25161934,2017,1,1,1,160.0,1,NaN,78.0,10.0,2,5,3,8,2,5,56.0,1,VI,St. Croix Island,H4
25161935,2017,1,1,2,492.0,1,NaN,78.0,10.0,2,5,5,8,1,5,92.0,1,VI,St. Croix Island,H4
25161936,2017,1,1,1,452.0,1,NaN,78.0,10.0,3,3,6,6,1,2,144.0,3,VI,St. Croix Island,H4
25161937,2017,1,1,1,280.0,1,NaN,78.0,10.0,2,5,5,8,1,5,165.0,1,VI,St. Croix Island,H4
25161938,2017,1,3,1,600.0,1,NaN,78.0,10.0,2,2,5,5,2,2,552.0,1,VI,St. Croix Island,H4
25161939,2017,1,3,1,102.0,1,NaN,78.0,10.0,1,5,5,8,1,5,57.0,1,VI,St. Croix Island,H4
25161940,2017,1,1,1,216.0,1,NaN,78.0,10.0,1,1,5,5,1,2,82.0,2,VI,St. Croix Island,H4

In [79]:
#df_selectdata1[df_selectdata1.CountyCode!=df_selectdata1.CountyCodecenus_].loc[:,['year','MSA','StateCode','CountyCode','CountyCode_cenus','StateName','StateCode_cenus','CountyName']]

df_selectdata1.iloc[:,:-1]

,Year,PropertyType,LoanPurpose,Occupancy,LoanAmount,ActionType,MSA,StateCode,CountyCode,ApplicantEthnicity,CoApplicantEthnicity,ApplicantRace,CoApplicantRace,ApplicantSex,CoApplicantSex,ApplicantIncome,PurchaserType,StateName,CountyName
0,2015,1,3,2,216.0,1,11260.0,2.0,20.0,2,5,5,8,1,5,230.0,7,AK,Anchorage Municipality
1,2015,1,2,1,533.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,134.0,7,AK,Anchorage Municipality
2,2015,1,3,2,203.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,136.0,7,AK,Anchorage Municipality
3,2015,1,2,1,275.0,1,11260.0,2.0,20.0,3,5,6,8,3,5,139.0,7,AK,Anchorage Municipality
4,2015,1,1,1,410.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,112.0,7,AK,Anchorage Municipality
5,2015,1,3,1,216.0,2,11260.0,2.0,20.0,2,2,5,5,1,2,105.0,0,AK,Anchorage Municipality
6,2015,1,2,1,20.0,1,11260.0,2.0,20.0,2,2,1,1,1,2,175.0,0,AK,Anchorage Municipality
7,2015,1,3,1,85.0,1,11260.0,2.0,20.0,3,3,1,1,1,2,204.0,0,AK,Anchorage Municipality
8,2015,1,3,1,223.0,1,11260.0,2.0,20.0,3,5,6,8,1,5,136.0,1,AK,Anchorage Municipality
9,2015,1,3,1,301.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,72.0,1,AK,Anchorage Municipality
10,2015,1,3,1,589.0,2,11260.0,2.0,20.0,3,3,6,6,1,2,240.0,0,AK,Anchorage Municipality
11,2015,1,3,1,293.0,1,11260.0,2.0,20.0,2,5,5,8,1,5,109.0,1,AK,Anchorage Municipality
12,2015,1,3,1,150.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,218.0,1,AK,Anchorage Municipality
13,2015,1,1,1,355.0,1,11260.0,2.0,20.0,2,5,5,8,1,5,122.0,7,AK,Anchorage Municipality
14,2015,1,1,1,800.0,1,11260.0,2.0,20.0,1,5,5,8,2,5,300.0,7,AK,Anchorage Municipality
15,2015,1,1,1,268.0,1,11260.0,2.0,20.0,3,5,6,8,3,5,118.0,1,AK,Anchorage Municipality
16,2015,1,3,1,135.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,136.0,7,AK,Anchorage Municipality
17,2015,1,3,1,552.0,1,11260.0,2.0,20.0,3,5,6,8,3,5,210.0,1,AK,Anchorage Municipality
18,2015,1,3,2,233.0,1,11260.0,2.0,20.0,3,5,6,8,1,5,199.0,1,AK,Anchorage Municipality
19,2015,1,3,1,292.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,160.0,1,AK,Anchorage Municipality
20,2015,1,3,1,156.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,193.0,1,AK,Anchorage Municipality
21,2015,1,3,1,308.0,1,11260.0,2.0,20.0,3,3,6,6,3,3,211.0,1,AK,Anchorage Municipality
22,2015,1,3,1,210.0,1,11260.0,2.0,20.0,2,2,5,5,1,1,205.0,1,AK,Anchorage Municipality
23,2015,1,1,2,263.0,1,11260.0,2.0,20.0,1,5,5,8,1,5,141.0,7,AK,Anchorage Municipality
24,2015,1,3,1,143.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,53.0,1,AK,Anchorage Municipality
25,2015,1,3,1,119.0,1,11260.0,2.0,20.0,3,5,6,8,2,5,33.0,1,AK,Anchorage Municipality
26,2015,1,3,1,463.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,206.0,7,AK,Anchorage Municipality
27,2015,1,1,1,380.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,202.0,3,AK,Anchorage Municipality
28,2015,1,1,1,237.0,1,11260.0,2.0,20.0,2,2,5,5,1,2,133.0,3,AK,Anchorage Municipality
29,2015,1,1,1,417.0,1,11260.0,2.0,20.0,3,3,6,6,3,3,321.0,0,AK,Anchorage Municipality
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161911,2017,1,3,1,50.0,1,NaN,51.0,580.0,2,2,5,5,1,2,52.0,0,VA,Covington city
25161912,2016,2,3,1,225.0,1,NaN,31.0,5.0,2,2,5,5,1,2,53.0,0,NE,Arthur County
25161913,2016,1,2,1,96.0,1,NaN,31.0,5.0,2,2,5,5,1,2,119.0,0,NE,Arthur County
25161914,2016,1,3,1,107.0,1,NaN,31.0,5.0,2,2,5,5,1,2,164.0,0,NE,Arthur County
25161915,2016,1,1,1,283.0,1,NaN,31.0,5.0,2,2,5,5,1,2,83.0,2,NE,Arthur County
25161916,2017,1,3,1,162.0,1,NaN,31.0,5.0,2,5,5,8,1,5,162.0,0,NE,Arthur County
25161917,2017,1,3,1,1758.0,1,NaN,31.0,5.0,2,2,5,5,1,2,245.0,0,NE,Arthur County
25161918,2017,1,3,1,57.0,1,NaN,31.0,5.0,3,3,6,6,3,3,68.0,0,NE,Arthur County
25161919,2017,1,2,1,125.0,1,NaN,31.0,5.0,2,2,5,5,1,2,119.0,0,NE,Arthur County
25161920,2017,1,1,1,45.0,1,NaN,31.0,5.0,2,5,5,8,1,5,44.0,0,NE,Arthur County
25161921,2017,1,1,1,168.0,1,NaN,78.0,10.0,3,3,6,6,1,2,99.0,1,VI,St. Croix Island
25161922,2017,1,1,1,110.0,1,NaN,78.0,10.0,2,5,3,8,1,5,51.0,1,VI,St. Croix Island
25161923,2017,1,1,1,320.0,1,NaN,78.0,10.0,2,5,5,8,1,5,145.0,1,VI,St. Croix Island
25161924,2017,1,1,1,123.0,1,NaN,78.0,10.0,2,5,5,8,2,5,51.0,1,VI,St. Croix Island
25161925,2017,1,1,2,653.0,1,NaN,78.0,10.0,3,3,6,6,1,2,197.0,1,VI,St. Croix Island
25161926,2017,1,3,1,289.0,1,NaN,78.0,10.0,2,2,5,5,1,2,70.0,1,VI,St. Croix Island
25161927,2017,1,1,2,100.0,1,NaN,78.0,10.0,3,3,6,6,1,2,168.0,1,VI,St. Croix Island
25161928,2017,1,1,2,116.0,1,NaN,78.0,10.0,2,2,5,5,1,2,99.0,1,VI,St. Croix Island
25161929,2017,1,3,1,212.0,1,NaN,78.0,10.0,2,5,3,8,1,5,54.0,1,VI,St. Croix Island
25161930,2017,1,1,2,159.0,1,NaN,78.0,10.0,2,2,5,5,1,2,264.0,1,VI,St. Croix Island
25161931,2017,1,1,1,620.0,1,NaN,78.0,10.0,2,2,6,6,1,2,128.0,1,VI,St. Croix Island
25161932,2017,1,1,2,188.0,1,NaN,78.0,10.0,2,2,5,5,2,1,117.0,1,VI,St. Croix Island
25161933,2017,1,1,2,116.0,1,NaN,78.0,10.0,3,3,6,6,1,2,75.0,1,VI,St. Croix Island
25161934,2017,1,1,1,160.0,1,NaN,78.0,10.0,2,5,3,8,2,5,56.0,1,VI,St. Croix Island
25161935,2017,1,1,2,492.0,1,NaN,78.0,10.0,2,5,5,8,1,5,92.0,1,VI,St. Croix Island
25161936,2017,1,1,1,452.0,1,NaN,78.0,10.0,3,3,6,6,1,2,144.0,3,VI,St. Croix Island
25161937,2017,1,1,1,280.0,1,NaN,78.0,10.0,2,5,5,8,1,5,165.0,1,VI,St. Croix Island
25161938,2017,1,3,1,600.0,1,NaN,78.0,10.0,2,2,5,5,2,2,552.0,1,VI,St. Croix Island
25161939,2017,1,3,1,102.0,1,NaN,78.0,10.0,1,5,5,8,1,5,57.0,1,VI,St. Croix Island
25161940,2017,1,1,1,216.0,1,NaN,78.0,10.0,1,1,5,5,1,2,82.0,2,VI,St. Croix Island

In [24]:
print(len(df_selectdata1))
print(len(df_selectdata))

25179402
25179402

In [4]:
# based on inital data wrangling step the data will be removed for following columns
def removeDatatForNullColumns(df):
    #removed all rows without loan amount
    #df_alldata1=df_alldata[df_alldata['LoanAmount'].isnull()==False]
    df=df.drop(df[df['LoanAmount'].isnull()].index)

    # remove all where no geographic info available
    df=df.drop(df[df['MSA'].isnull() & df['StateCode'].isnull() & df['CountyCode'].isnull()].index)

    # remove all with no ApplicantIncome
    df=df.drop(df[df['ApplicantIncome'].isnull()].index)

    # remove all status 3,4,5 
    df=df.drop(df[df.ActionType==3].index)
    df=df.drop(df[df.ActionType==4].index)
    df=df.drop(df[df.ActionType==5].index)
    return df

In [5]:
# reading all files in monthly folder
df_alldata =pd.DataFrame()
folderpath='data/'

for root,_,files in os.walk(folderpath):
    for f in files:
        fullpath=opath.join(root,f)
        df_file=pd.read_csv(fullpath, index_col=False,sep=',',names=homeloancol)
        df_alldata= df_alldata.append(df_file,ignore_index=True)
        df_alldata=removeDatatForNullColumns(df_alldata)
        print('file complete : '+f + ' no of rows : '+ str(len(df_file)) + ' no of columns :'+str(len(df_file.columns)))
#df_alldata.set_index('id').sort_index()
#df_alldata.columns=homeloancol

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file complete : 2015HMDALAR - National.csv no of rows : 14374184 no of columns :45
file complete : 2016HMDALAR - National.csv no of rows : 16332987 no of columns :45
file complete : 2017_public_lar.csv no of rows : 14285496 no of columns :45

### Check colums

In [6]:
df_alldata.head()

,Year,RespondentID,AgencyCode,LoanType,PropertyType,LoanPurpose,Occupancy,LoanAmount,Preapproval,ActionType,...,LienStatus,EditStatus,SequenceNumber,Population,MinorityPopulationPercen,FFIECMedianFamily,TracttoMSA,NumberofOwnerOccupied,Numberof1_To,ApplicationDateIndicator
0,2015,0000001281,3,1,1,3,2,216.0,3,1,...,1,6,509.0,1988,52.31,89600,58.72,149,327,0.0
1,2015,0000001281,3,1,1,3,1,219.0,3,1,...,1,6,630.0,3458,17.35,89600,112.09,998,1268,0.0
2,2015,0000001281,3,1,1,3,2,188.0,3,1,...,1,6,635.0,5364,16.63,89600,111.23,1593,1754,0.0
3,2015,0000001281,3,1,1,2,1,533.0,3,1,...,1,6,713.0,3059,15.2,89600,170.1,1113,1306,0.0
4,2015,0000001281,3,1,1,3,2,203.0,3,1,...,1,6,714.0,3059,15.2,89600,170.1,1113,1306,0.0

In [7]:
df_alldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29535580 entries, 0 to 35398216
Data columns (total 45 columns):
Year                        int64
RespondentID                object
AgencyCode                  int64
LoanType                    int64
PropertyType                int64
LoanPurpose                 int64
Occupancy                   int64
LoanAmount                  float64
Preapproval                 int64
ActionType                  int64
MSA                         object
StateCode                   float64
CountyCode                  object
CensusTractNumber           object
ApplicantEthnicity          int64
CoApplicantEthnicity        int64
ApplicantRace               int64
ApplicantRace1              object
ApplicantRace2              object
ApplicantRace3              object
ApplicantRace4              object
CoApplicantRace             int64
CoApplicantRace1            object
CoApplicantRace2            object
CoApplicantRace3            object
CoApplicantRace4            object
ApplicantSex                int64
CoApplicantSex              int64
ApplicantIncome             object
PurchaserType               int64
DenialReason1               object
DenialReason2               object
DenialReason3               object
RateSpread                  object
HOEPAStatus                 int64
LienStatus                  int64
EditStatus                  object
SequenceNumber              float64
Population                  object
MinorityPopulationPercen    object
FFIECMedianFamily           object
TracttoMSA                  object
NumberofOwnerOccupied       object
Numberof1_To                object
ApplicationDateIndicator    float64
dtypes: float64(4), int64(17), object(24)
memory usage: 10.1+ GB

In [8]:
# set up some field as category
for col in ['PropertyType', 'LoanPurpose', 'Occupancy', 'ApplicantEthnicity','CoApplicantEthnicity',
            'ApplicantRace','CoApplicantRace','ApplicantSex','CoApplicantSex','PurchaserType']:
    df_alldata[col] = df_alldata[col].astype('category')

In [9]:
df_alldata=df_alldata.replace('NA   ',np.NaN)
df_alldata=df_alldata.replace('NA  ',np.NaN)
df_alldata=df_alldata.replace('NA ',np.NaN)
df_alldata=df_alldata.replace('NA',np.NaN)

In [10]:
for col in ['MSA','CountyCode','ApplicantIncome']:
    #df_alldata[col]=df_alldata[col].fillna(0, inplace=True)
    df_alldata[col]=pd.to_numeric(df_alldata[col], downcast='integer')

In [11]:
df_alldata=removeDatatForNullColumns(df_alldata)

### Pickle and save the single monthly file for further processing

In [12]:
# get the pickel file name to re confirm the previous files are not overriden.
# Note: Run this file after confimring succesful completion of all above steps
print(picklefilename)
#f1.info()

df_alldata_hmda.sa

In [13]:
# create pickle file for further use 
pickle.dump(df_alldata,open(picklefilename,'wb'), protocol=4)

In [14]:
# check the some other fields if they have siginificant data
#df_alldata[df_alldata[colname].isnotnull()]#
for col in homeloancol:#colnames:
    df_alldata.groupby(col).size()

Year
2015    7927396
2016    9026306
2017    8225700
dtype: int64

RespondentID
854           3
861           1
893           12
1049          3
1060          1
1074          1
1148          13
1199          1
1213          27
1253          7
1309          4
1493          4
1520          1
1644          1
1682          196
1696          350
1701          9
1711          158
1718          887
1733          193
1785          45
1815          450
1821          10
1830          42
1833          1
1837          3
1843          16
1845          246
1866          2
1870          18
              ..
99-0035093    411
99-0035281    118
99-0050028    3980
99-0057039    4
99-0057378    12
99-0057942    6
99-0058041    8
99-0058081    7
99-0058171    61
99-0058179    7
99-0058236    52
99-0058313    6
99-0058815    1
99-0059010    285
99-0090179    178
99-0090283    75
99-0355821    23
99-0564605    1441
99-0617024    96
99-0700016    31
99-0700962    65
99-0702353    14
99-0703756    52
99-0703835    710
99-0704474    596
99-0705091    343
99-0708196    3
99-0717983    194
99-3571015    117
9900000375    615
Length: 11241, dtype: int64

AgencyCode
1    1205026
2    842645
3    2441843
5    1962205
7    11024898
9    7702785
dtype: int64

LoanType
1    19016591
2    3877998
3    1855207
4    429606
dtype: int64

PropertyType
1    24707137
2    472265
3    0
dtype: int64

LoanPurpose
1    13967740
2    1643769
3    9567893
dtype: int64

Occupancy
1    22902034
2    2254313
3    23055
dtype: int64

LoanAmount
1.0          18246
2.0          27396
3.0          48474
4.0          45165
5.0          85772
6.0          54332
7.0          44215
8.0          56962
9.0          28179
10.0         99812
11.0         22972
12.0         31880
13.0         21670
14.0         19329
15.0         79803
16.0         20626
17.0         17655
18.0         20006
19.0         14330
20.0         67942
21.0         16175
22.0         18078
23.0         16904
24.0         17813
25.0         79767
26.0         19480
27.0         18380
28.0         20257
29.0         16450
30.0         69938
             ...
70000.0      1
75000.0      1
81000.0      1
84000.0      1
85000.0      1
85900.0      1
87000.0      1
95000.0      1
96000.0      1
99000.0      1
102000.0     1
112000.0     1
122000.0     1
128000.0     1
136800.0     1
140000.0     1
152000.0     1
169000.0     1
200000.0     1
221000.0     1
233000.0     2
241000.0     1
244000.0     1
248000.0     1
255000.0     1
274000.0     1
280000.0     1
302000.0     1
320000.0     1
1485000.0    1
Length: 4941, dtype: int64

Preapproval
1    795596
2    3977490
3    20406316
dtype: int64

ActionType
1    21287511
2    1125929
6    2762256
7    1952
8    1754
dtype: int64

MSA
10140.0    6
10180.0    11702
10260.0    1
10300.0    2
10380.0    5722
10420.0    50065
10500.0    6700
10540.0    10546
10580.0    55683
10660.0    1
10740.0    66610
10760.0    1
10780.0    9167
10860.0    8
10900.0    58142
10940.0    4
10980.0    1
11020.0    7457
11060.0    1
11100.0    19124
11180.0    7363
11220.0    1
11244.0    288861
11260.0    40253
11380.0    1
11420.0    1
11460.0    33290
11500.0    6260
11540.0    25323
11620.0    1
          ..
48060.0    6703
48140.0    11988
48180.0    1
48220.0    1
48260.0    5900
48300.0    10550
48424.0    110426
48540.0    6617
48580.0    3
48620.0    49757
48660.0    8418
48700.0    6464
48820.0    2
48864.0    53936
48900.0    30999
48940.0    1
48980.0    2
49020.0    12596
49080.0    1
49100.0    2
49180.0    41959
49220.0    4
49340.0    75821
49420.0    13945
49460.0    1
49620.0    34584
49660.0    29824
49700.0    14085
49740.0    12948
49780.0    1
Length: 634, dtype: int64

StateCode
1.0     329331
2.0     59504
4.0     707880
5.0     208955
6.0     3331684
8.0     769429
9.0     231432
10.0    82830
11.0    60223
12.0    1567574
13.0    797906
15.0    90038
16.0    177887
17.0    966220
18.0    533336
19.0    270266
20.0    208645
21.0    296572
22.0    283871
23.0    102322
24.0    504979
25.0    584029
26.0    804543
27.0    542061
28.0    158307
29.0    500501
30.0    85135
31.0    153823
32.0    288009
33.0    117036
34.0    592200
35.0    123959
36.0    805934
37.0    791456
38.0    54942
39.0    805351
40.0    264989
41.0    400144
42.0    855342
44.0    80094
45.0    399372
46.0    65450
47.0    536047
48.0    1960762
49.0    373745
50.0    45086
51.0    744018
53.0    757465
54.0    95211
55.0    485791
56.0    48852
72.0    78842
78.0    22
dtype: int64

CountyCode
1.0      659895
3.0      791806
5.0      526052
6.0      462
7.0      239470
9.0      335514
10.0     20
11.0     398019
12.0     661
13.0     898916
14.0     10372
15.0     267165
16.0     66
17.0     448081
19.0     414581
20.0     28111
21.0     332126
23.0     175222
25.0     319158
27.0     311408
28.0     1672
29.0     445247
31.0     823655
33.0     428223
35.0     441294
36.0     425
37.0     910866
39.0     180603
41.0     268320
43.0     217537
          ...
595.0    125
600.0    2666
610.0    1464
620.0    374
630.0    1829
640.0    266
650.0    9142
660.0    2064
670.0    1327
678.0    266
680.0    4132
683.0    4138
685.0    1578
690.0    398
700.0    10058
710.0    14981
720.0    151
730.0    1074
735.0    1141
740.0    7186
750.0    700
760.0    14813
770.0    5824
775.0    1798
790.0    1734
800.0    8947
810.0    44348
820.0    1592
830.0    702
840.0    1699
Length: 326, dtype: int64

CensusTractNumber
1.0        37050
1.01       12600
1.02       15104
1.03       5925
1.04       3380
1.05       1843
1.06       2096
1.07       1184
1.08       1757
1.09       1598
1.1        1222
1.11       970
1.12       675
1.13       1338
1.14       310
1.15       1147
1.16       1761
1.17       821
1.18       554
1.19       264
1.2        1059
1.21       472
1.22       522
1.23       477
1.24       149
1.25       354
1.26       218
1.27       383
1.28       337
1.29       243
          ...
9800.00    177
9800.01    14
9800.02    1
9800.03    24
9800.04    1
9800.05    7
9801.00    40
9801.01    1
9801.03    1
9801.08    1
9802.00    2
9803.00    3
9804.00    2
9805.01    1
9807.00    1
9807.05    1
9808.00    4
9818.00    19
9819.01    2
9822.00    1
9834.00    2
9840.00    2
9883.00    8
9887.00    7
9891.00    5
9900.00    7
9901.00    18
9902.00    1
9926.00    2
NA         25732
Length: 39897, dtype: int64

ApplicantEthnicity
1    2243714
2    19806504
3    2351257
4    777927
dtype: int64

CoApplicantEthnicity
1    950751
2    9365996
3    1270226
4    636318
5    12956111
dtype: int64

ApplicantRace
1    150009
2    1436758
3    1339656
4    98151
5    18926796
6    2459891
7    768141
dtype: int64

ApplicantRace1
1.0    1597
2.0    2625
3.0    4471
4.0    4008
5.0    35597
       16874775
1      2679
2      4301
3      6870
4      6373
5      58704
dtype: int64

ApplicantRace2
1.0    124
2.0    70
3.0    648
4.0    265
5.0    2221
       16949313
1      138
2      126
3      664
4      281
5      3180
dtype: int64

ApplicantRace3
1.0    14
2.0    35
3.0    8
4.0    445
5.0    211
       16953016
1      14
2      30
3      21
4      390
5      231
dtype: int64

ApplicantRace4
1.0    28
2.0    7
3.0    4
4.0    4
5.0    427
       16953247
1      18
2      14
3      11
4      14
5      398
dtype: int64

CoApplicantRace
1    56575
2    675739
3    350947
4    55625
5    9142399
6    1309462
7    632544
8    12956111
dtype: int64

CoApplicantRace1
1.0    517
2.0    1201
3.0    1197
4.0    1793
5.0    13404
       16923013
1      950
2      1961
3      2034
4      3068
5      22676
dtype: int64

CoApplicantRace2
1.0    34
2.0    37
3.0    215
4.0    200
5.0    728
       16952207
1      56
2      45
3      217
4      102
5      1075
dtype: int64

CoApplicantRace3
1.0    9
2.0    11
4.0    167
5.0    177
       16953469
1      4
2      10
3      8
4      135
5      76
dtype: int64

CoApplicantRace4
1.0    10
2.0    1
3.0    3
4.0    1
5.0    161
       16953532
1      17
2      12
3      3
4      2
5      136
dtype: int64

ApplicantSex
1    16081726
2    6844572
3    1484758
4    768346
dtype: int64

CoApplicantSex
1    2163612
2    8613726
3    813519
4    632433
5    12956112
dtype: int64

ApplicantIncome
1.0         2131
2.0         1488
3.0         1980
4.0         2515
5.0         3119
6.0         3502
7.0         3620
8.0         4278
9.0         5892
10.0        8641
11.0        9645
12.0        19972
13.0        13742
14.0        17833
15.0        20008
16.0        24602
17.0        29262
18.0        35544
19.0        41400
20.0        47136
21.0        54539
22.0        59675
23.0        68758
24.0        85026
25.0        91355
26.0        93420
27.0        102926
28.0        108229
29.0        126511
30.0        137743
             ...
52430.0     1
54000.0     1
55000.0     1
55600.0     1
67000.0     1
71087.0     1
71200.0     1
77000.0     1
83700.0     1
91300.0     1
93000.0     1
95000.0     1
97824.0     1
98544.0     1
100000.0    1
104000.0    2
106000.0    1
107000.0    1
114000.0    1
120000.0    1
122000.0    1
123000.0    1
141700.0    1
146000.0    1
147417.0    1
150000.0    2
162000.0    1
175000.0    1
180000.0    1
268000.0    1
Length: 6420, dtype: int64

PurchaserType
0    7151526
1    5344589
2    3067351
3    3519577
4    2849
5    129970
6    2217344
7    2218140
8    314801
9    1213255
dtype: int64

DenialReason1
1.0    179
2.0    27
3.0    182
4.0    9
5.0    13
6.0    106
7.0    22
8.0    2
9.0    241
       16953324
1      114
2      22
3      76
4      42
5      16
6      51
7      23
8      1
9      33
dtype: int64

DenialReason2
1.0    18
2.0    19
3.0    32
4.0    2
5.0    12
6.0    239
7.0    98
9.0    49
       16953505
1      13
2      7
3      23
4      15
5      12
6      22
7      87
8      1
9      17
dtype: int64

DenialReason3
1.0    2
3.0    2
5.0    1
6.0    4
7.0    2
9.0    6
       16953690
1      1
3      3
4      1
5      2
6      4
7      1
dtype: int64

RateSpread
1.5      10055
1.51     8096
1.52     7788
1.53     7802
1.54     7508
1.55     7572
1.56     7584
1.57     7233
1.58     6936
1.59     6901
1.6      6790
1.61     6755
1.62     6594
1.63     6486
1.64     6497
1.65     6302
1.66     6296
1.67     6009
1.68     6112
1.69     5877
1.7      5822
1.71     5632
1.72     5316
1.73     5471
1.74     5358
1.75     5389
1.76     5234
1.77     5062
1.78     4841
1.79     4829
         ...
17.79    1
17.81    1
18.04    1
18.49    1
18.67    1
18.97    1
19.27    1
19.90    1
20.62    1
20.96    1
21.53    1
21.84    1
24.28    1
27.65    1
28.64    1
28.91    1
28.94    1
29.43    1
30.07    1
32.32    1
32.83    1
37.29    1
39.24    1
42.02    1
52.30    1
58.35    1
68.13    1
79.13    1
96.10    1
99.99    9
Length: 2103, dtype: int64

HOEPAStatus
1    6625
2    25172777
dtype: int64

LienStatus
1    21177722
2    670478
3    568946
4    2762256
dtype: int64

EditStatus
     15130283
6    1823419
dtype: int64

SequenceNumber
1.0          7689
2.0          7888
3.0          8009
4.0          8105
5.0          8075
6.0          8145
7.0          8047
8.0          8142
9.0          8071
10.0         8193
11.0         8137
12.0         8091
13.0         7995
14.0         7950
15.0         7974
16.0         7918
17.0         7913
18.0         7880
19.0         7946
20.0         7855
21.0         7840
22.0         7810
23.0         7836
24.0         7816
25.0         7728
26.0         7753
27.0         7729
28.0         7719
29.0         7581
30.0         7572
             ...
1240500.0    1
1240507.0    1
1240512.0    1
1240513.0    1
1240635.0    1
1240642.0    1
1240644.0    1
1240645.0    1
1240647.0    1
1240648.0    1
1240665.0    1
1240669.0    1
1240676.0    1
1240711.0    1
1240731.0    1
1240733.0    1
1240758.0    1
1240774.0    1
1240820.0    1
1240831.0    1
1240837.0    1
1240901.0    1
1240986.0    1
1241015.0    1
1241122.0    1
1241621.0    1
1241659.0    1
1241693.0    1
1241763.0    1
1241764.0    1
Length: 1180116, dtype: int64

Population
0.0         128
1           2
2           5
3.0         3
4           16
5           4
6           6
7           6
8           15
9           4
10.0        3
11          3
12.0        1
13          6
14          3
15          4
16          5
18          4
20.0        8
21          2
22          2
24          4
25          3
26.0        1
27          1
30          4
33          4
34.0        2
36          1
37          5
           ..
00018616    220
00018793    1043
00018904    48
00018941    1725
00019204    2007
00019450    1966
00019523    926
00020107    1786
00020164    1170
00020181    230
00020235    678
00020422    3794
00020655    829
00020842    985
00021098    75
00021591    1456
00021763    2326
00022065    152
00022862    39
00023101    256
00023686    3879
00025039    805
00025252    506
00026230    519
00026588    60
00026843    604
00028537    1050
00029677    339
00033201    1302
NA          26972
Length: 19193, dtype: int64

MinorityPopulationPercen
0.0       3316
0.02      80
0.03      63
0.05      56
0.06      78
0.11      179
0.12      155
0.13      204
0.14      152
0.15      115
0.16      435
0.17      124
0.18      299
0.19      37
0.2       176
0.21      268
0.22      260
0.23      23
0.24      42
0.25      301
0.26      357
0.27      90
0.28      110
0.29      143
0.3       478
0.31      60
0.32      296
0.33      238
0.34      529
0.35      341
         ...
099.69    505
099.70    1037
099.71    855
099.72    180
099.73    542
099.74    263
099.75    654
099.76    400
099.77    295
099.78    191
099.79    255
099.80    101
099.81    285
099.82    293
099.83    302
099.84    152
099.85    300
099.86    57
099.87    46
099.88    62
099.89    42
099.90    8
099.91    15
099.92    35
099.93    81
099.94    37
099.95    12
099.96    5
100.00    74
NA        27007
Length: 19651, dtype: int64

FFIECMedianFamily
15800.0     672
18000.0     409
18400.0     796
18800.0     1436
20500.0     1630
20700.0     932
23600.0     377
25900.0     15250
27000       6819
37900.0     4104
38200       3862
40300.0     7632
41800       9404
42200.0     2083
42800.0     2917
43200       1937
43300       1731
43400       1767
43900       1152
44000       8017
44500       8795
44600       6441
44700       9924
45000.0     5701
45200       12251
45300.0     14852
45600.0     23163
45700.0     18228
45800       3004
45900.0     13543
            ...
00085600    1990
00085700    56038
00085900    509
00086700    2111
00086800    5798
00086900    975
00087000    3887
00087100    22
00087300    4865
00087800    4812
00087900    8254
00089200    638
00089300    4345
00089600    19526
00089700    5943
00090000    684
00090300    1869
00091000    4411
00091600    3743
00093000    2903
00093800    2445
00094800    3793
00097000    2823
00099400    3318
00104400    6424
00105700    57427
00107500    3792
00109400    61111
00115000    1757
NA          25732
Length: 784, dtype: int64

TracttoMSA
0.0       7961
3.71      1
6.32      1
6.35      54
6.63      2
6.87      19
7.72      3
8.23      3
8.68      6
8.88      3
9.6       1
9.75      12
10.04     1
10.26     1
10.31     56
10.44     1
10.48     5
10.86     3
10.9      15
10.91     2
11.36     4
11.42     3
11.56     5
11.65     2
11.7      8
11.9      2
12.1      4
12.12     8
12.25     3
12.38     14
          ..
364.11    88
364.66    53
365.12    300
366.38    136
367.61    3025
371.06    400
372.10    118
372.16    953
374.27    149
375.83    93
376.22    152
376.43    214
377.16    119
377.55    202
381.32    204
384.65    4
386.22    123
387.84    108
387.92    96
388.15    36
391.25    518
394.69    299
397.45    89
399.23    13
403.39    448
405.70    1123
425.35    5
475.44    149
499.35    33
NA        28695
Length: 36396, dtype: int64

NumberofOwnerOccupied
0.0         754
2.0         1
3           10
4           229
5           42
6           71
7           62
8           195
9           120
10          146
11          47
12          76
13          50
14          61
15          80
16          117
17          90
18.0        217
19          43
20          57
21          26
22          90
23          115
24          168
25          109
26          105
27          42
28          541
29          278
30          50
            ..
00004781    3879
00004792    11
00004820    704
00004867    1008
00004911    1966
00004920    2486
00004977    291
00005087    760
00005092    468
00005137    1078
00005149    2007
00005176    1596
00005474    1786
00005590    3488
00005627    1637
00005792    2319
00005826    1922
00005877    3306
00005978    5892
00006018    3794
00006083    1296
00006133    39
00006293    805
00006454    61
00006675    6359
00006717    2451
00006856    2989
00006886    17
00008526    3010
NA          29119
Length: 6817, dtype: int64

Numberof1_To
0.0         548
3           4
4.0         13
5.0         56
6           201
7           46
8           50
9           227
10          219
11          617
12          272
13          369
14          108
15          52
16          235
17          437
18          138
19          403
20          214
21          335
22          153
23          768
24          241
25          400
26          359
27          1032
28          242
29          326
30          190
31          322
           ...
00006103    1966
00006142    829
00006239    1
00006254    1078
00006263    103
00006272    2868
00006298    68
00006345    263
00006362    508
00006393    847
00006428    401
00006517    985
00006522    926
00006576    288
00006587    186
00006605    101
00006667    3794
00006862    4024
00006872    1786
00006908    546
00007066    2029
00007116    1190
00007204    878
00007504    510
00007587    4267
00007673    599
00007921    1792
00007964    805
00011336    1936
NA          28751
Length: 8608, dtype: int64

ApplicationDateIndicator
0.0    15140323
1.0    20
2.0    1813359
dtype: int64

# rename some columns
_=df_alldata.rename(columns={'AsofYear': 'Year', 'MSA/MD': 'MSA',
                                'ApplicantIncome(000s)':'ApplicantIncome','MinorityPopulation%':'MinorityPopulationPercent',
                                'TracttoMSA/MD':'TracttoMSA','ApplicantRace1':'ApplicantRace'}, inplace=True)

In [15]:
#Extract minimum columns
homeloancolreq= ['Year',
'PropertyType',
'LoanPurpose',
'Occupancy',
'LoanAmount',
'ActionType',
'MSA',
'StateCode',
'CountyCode',
'ApplicantEthnicity',
'CoApplicantEthnicity',
'ApplicantRace',
'CoApplicantRace',
'ApplicantSex',
'CoApplicantSex',
'ApplicantIncome',
'PurchaserType',
]
df_selecteddata=df_alldata.loc[:,homeloancolreq]

# set up some field as category
'''df_selecteddata.PropertyType=df_selecteddata.PropertyType.astype('category')
_=df_selecteddata.LoanPurpose.astype('category')
_=df_selecteddata.Occupancy.astype('category')
_=df_selecteddata.ApplicantEthnicity.astype('category')
_=df_selecteddata.CoApplicantEthnicity.astype('category')
_=df_selecteddata.ApplicantRace1.astype('category')
_=df_selecteddata.CoApplicantRace.astype('category')
_=df_selecteddata.ApplicantSex.astype('category')
_=df_selecteddata.CoApplicantSex.astype('category')
_=df_selecteddata.PurchaserType.astype('category')'''
for col in ['PropertyType', 'LoanPurpose', 'Occupancy', 'ApplicantEthnicity','CoApplicantEthnicity',
            'ApplicantRace1','CoApplicantRace','ApplicantSex','CoApplicantSex','PurchaserType']:
    df_selecteddata[col] = df_selecteddata[col].astype('category')


#_=df_selecteddata.MSA.fillna(0)
#_=df_selecteddata.MSA.astype('int64')
#_=df_selecteddata.CountyCode.fillna(0)
#_=df_selecteddata.CountyCode.astype('int64')
#_=df_selecteddata.ApplicantIncome.astype('int64')

df_selecteddata=df_selecteddata.replace('NA   ',np.NaN)
df_selecteddata=df_selecteddata.replace('NA  ',np.NaN)
df_selecteddata=df_selecteddata.replace('NA ',np.NaN)
df_selecteddata=df_selecteddata.replace('NA',np.NaN)


None
for col in ['MSA','CountyCode','ApplicantIncome']:
    #df_alldata[df_alldata[colname].isnull()][colname]
    #df_selecteddata[df_selecteddata[col]=='NA   '][col]=np.NaN
    df_selecteddata[col]=df_selecteddata[col].fillna(0, inplace=True)
    df_selecteddata[col]=pd.to_numeric(df_selecteddata[col], downcast='float')#df_selecteddata[col].astype(int)
    
    #df_alldata[df_alldata[colname].isnull()][colname]
    #df_selecteddata[df_selecteddata[col]=='NA   ']
    
    #_=df_alldata['MSA'].fillna(0, inplace=True)
    #_=df_selecteddata.MSA.astype('int64')
    #_=df_selecteddata.MSA.fillna(0)
    #_=df_selecteddata.MSA.astype('int64')
    #_=df_selecteddata.CountyCode.fillna(0)
    #_=df_selecteddata.CountyCode.astype('int64')
    #_=df_selecteddata.ApplicantIncome.astype('int64')

In [16]:
#df_selecteddata.info()
picklefilename='df_selectdata_hmda.sa'

In [17]:
df_selecteddata.head()

,Year,PropertyType,LoanPurpose,Occupancy,LoanAmount,ActionType,MSA,StateCode,CountyCode,ApplicantEthnicity,CoApplicantEthnicity,ApplicantRace,CoApplicantRace,ApplicantSex,CoApplicantSex,ApplicantIncome,PurchaserType
0,2015,1,3,2,216.0,1,11260.0,2.0,20.0,2,5,5,8,1,5,230.0,7
1,2015,1,3,1,219.0,1,11260.0,2.0,170.0,2,5,5,8,1,5,145.0,1
2,2015,1,3,2,188.0,1,11260.0,2.0,170.0,2,5,5,8,1,5,145.0,1
3,2015,1,2,1,533.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,134.0,7
4,2015,1,3,2,203.0,1,11260.0,2.0,20.0,2,5,5,8,2,5,136.0,7

### Pickle and save the single monthly file for further processing

In [18]:
# get the pickel file name to re confirm the previous files are not overriden.
# Note: Run this file after confimring succesful completion of all above steps
print(picklefilename)
#f1.info()

df_selectdata_hmda.sa

In [19]:
# create pickle file for further use 
pickle.dump(df_selecteddata,open(picklefilename,'wb'), protocol=4)

In [20]:
# check pickle file
upickle_df = pickle.load(open(picklefilename,"rb"))

In [21]:
upickle_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25179402 entries, 0 to 35398216
Data columns (total 17 columns):
Year                    int64
PropertyType            category
LoanPurpose             category
Occupancy               category
LoanAmount              float64
ActionType              int64
MSA                     float64
StateCode               float64
CountyCode              float64
ApplicantEthnicity      category
CoApplicantEthnicity    category
ApplicantRace           category
CoApplicantRace         category
ApplicantSex            category
CoApplicantSex          category
ApplicantIncome         float64
PurchaserType           category
dtypes: category(10), float64(5), int64(2)
memory usage: 1.7 GB

In [22]:
df_newdata=upickle_df

In [23]:
df_newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25179402 entries, 0 to 35398216
Data columns (total 17 columns):
Year                    int64
PropertyType            category
LoanPurpose             category
Occupancy               category
LoanAmount              float64
ActionType              int64
MSA                     float64
StateCode               float64
CountyCode              float64
ApplicantEthnicity      category
CoApplicantEthnicity    category
ApplicantRace           category
CoApplicantRace         category
ApplicantSex            category
CoApplicantSex          category
ApplicantIncome         float64
PurchaserType           category
dtypes: category(10), float64(5), int64(2)
memory usage: 1.7 GB

In [24]:
def checkforNullCol(colname,df):
    return df[df[colname].isnull()]#[colname,homeloancol]

In [25]:
def checkforNanCol(colname,df):
    return df[np.isnan(df[colname])]

In [29]:
t=df_newdata.columns

In [30]:
for col in t:
    
    df=checkforNullCol(col,df_newdata)
    if (len(df)>0):
        print(col + ' Null len :'+str(len(df)) )
    #df1=checkforNanCol(col)
    #if (len(df1)>0):
        #print(col + ' Nan len :'+str(len(df1)) )

MSA Null len :2552710
CountyCode Null len :17446

In [31]:
df_newdata.groupby('ActionType').size()

ActionType
1    21287511
2    1125929
6    2762256
7    1952
8    1754
dtype: int64

In [32]:
print(len(df_selecteddata))
print(len(df_alldata))

25179402
25179402